kitchen_automation_error_fixes.json
[
    {
        "id": "kitchen_fixed_tab",
        "type": "tab",
        "label": "Kitchen Light Automation - Error Fixed",
        "disabled": false,
        "info": "Kitchen automation with comprehensive error fixes and proper entity validation"
    },
    {
        "id": "config_init_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Kitchen Config & Utilities - Fixed",
        "func": "const KITCHEN_CONFIG = {\n    BRIGHTNESS: {\n        DAY: 220,\n        NIGHT: 80,\n        INCREMENT_PERCENT: 12,\n        MIN: 10,\n        MAX: 255,\n        DEFAULT: 220\n    },\n    TIMERS: {\n        AUTO_OFF_MINUTES: 15,\n        MANUAL_OVERRIDE_MINUTES: 45,\n        HEALTH_CHECK_MINUTES: 5\n    },\n    THRESHOLDS: {\n        LIGHT_SENSOR_LUX: 25\n    },\n    ENTITIES: {\n        LIGHT: 'light.kitchen',\n        MOTION_SENSOR: 'binary_sensor.sensor_kitchen_motion',\n        ILLUMINANCE_SENSOR: 'sensor.sensor_kitchen_illuminance',\n        SCENE_ENERGIZE: 'scene.kitchen_energize',\n        SCENE_DIMMED: 'scene.kitchen_dimmed'\n    },\n    EVENTS: {\n        ON_SHORT: 1002,\n        DIM_UP_SHORT: 2002,\n        DIM_DOWN_SHORT: 3002,\n        OFF_SHORT: 4002,\n        ON_HOLD: 1001,\n        OFF_HOLD: 4001\n    }\n};\n\nconst validateBrightness = (brightness) => {\n    if (typeof brightness !== 'number' || isNaN(brightness) || brightness < KITCHEN_CONFIG.BRIGHTNESS.MIN || brightness > KITCHEN_CONFIG.BRIGHTNESS.MAX) {\n        return KITCHEN_CONFIG.BRIGHTNESS.DEFAULT;\n    }\n    return Math.round(brightness);\n};\n\nconst calculateBrightnessChange = (current, isIncrease) => {\n    const change = Math.round(current * (KITCHEN_CONFIG.BRIGHTNESS.INCREMENT_PERCENT / 100));\n    const minChange = 15;\n    const actualChange = Math.max(change, minChange);\n    \n    if (isIncrease) {\n        return Math.min(current + actualChange, KITCHEN_CONFIG.BRIGHTNESS.MAX);\n    } else {\n        return Math.max(current - actualChange, KITCHEN_CONFIG.BRIGHTNESS.MIN);\n    }\n};\n\nconst logEvent = (message, level = 'info') => {\n    const timestamp = new Date().toISOString();\n    const logMessage = `[${timestamp}] Kitchen: ${message}`;\n    \n    switch(level) {\n        case 'error': node.error(logMessage); break;\n        case 'warn': node.warn(logMessage); break;\n        default: node.log(logMessage);\n    }\n};\n\nconst validateKitchenState = () => {\n    try {\n        const brightness = flow.get('kitchenCurrentBrightness');\n        const validBrightness = validateBrightness(brightness);\n        \n        if (brightness !== validBrightness) {\n            flow.set('kitchenCurrentBrightness', validBrightness);\n            logEvent(`Brightness corrected from ${brightness} to ${validBrightness}`, 'warn');\n        }\n        \n        if (flow.get('kitchenAutomationEnabled') === undefined) {\n            flow.set('kitchenAutomationEnabled', true);\n        }\n        if (flow.get('kitchenManualOverride') === undefined) {\n            flow.set('kitchenManualOverride', false);\n        }\n        \n        return true;\n    } catch (error) {\n        logEvent(`State validation failed: ${error.message}`, 'error');\n        return false;\n    }\n};\n\nconst validateEntity = async (entityId, entityType = 'unknown') => {\n    try {\n        const state = await global.get('homeassistant').homeAssistant.states.get(entityId);\n        if (!state) {\n            logEvent(`Entity validation failed: ${entityId} (${entityType}) not found`, 'error');\n            return false;\n        }\n        logEvent(`Entity validated: ${entityId} (${entityType}) - state: ${state.state}`);\n        return true;\n    } catch (error) {\n        logEvent(`Entity validation error for ${entityId}: ${error.message}`, 'error');\n        return false;\n    }\n};\n\nglobal.set('KITCHEN_CONFIG', KITCHEN_CONFIG);\nglobal.set('kitchenUtils', {\n    validateBrightness,\n    calculateBrightnessChange,\n    logEvent,\n    validateKitchenState,\n    validateEntity\n});\n\nvalidateKitchenState();\nlogEvent('Kitchen automation initialized with comprehensive error fixes');\n\nreturn null;",
        "outputs": 0,
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "init_trigger_fixed",
        "type": "inject",
        "z": "kitchen_fixed_tab",
        "name": "Initialize on Deploy",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 20,
        "wires": [["config_init_fixed"]]
    },
    {
        "id": "dimmer_events_fixed",
        "type": "server-events",
        "z": "kitchen_fixed_tab",
        "name": "Kitchen Dimmer Events",
        "server": "home_assistant_server",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "deconz_event",
        "waitForRunning": true,
        "outputProperties": [
            {"property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData"},
            {"property": "topic", "propertyType": "msg", "value": "$outputData(\"eventData\").event_type", "valueType": "jsonata"}
        ],
        "x": 150,
        "y": 140,
        "wires": [["process_dimmer_fixed"]]
    },
    {
        "id": "process_dimmer_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Process Dimmer Events - Error Fixed",
        "func": "try {\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    const utils = global.get('kitchenUtils');\n    \n    if (!CONFIG || !utils) {\n        node.error('Configuration not loaded');\n        return null;\n    }\n    \n    if (!msg.payload || !msg.payload.event) {\n        utils.logEvent('Invalid dimmer event payload', 'error');\n        return null;\n    }\n    \n    const event = msg.payload.event;\n    const currentBrightness = utils.validateBrightness(flow.get('kitchenCurrentBrightness') || CONFIG.BRIGHTNESS.DEFAULT);\n    \n    utils.logEvent(`Processing dimmer event: ${event}`);\n    \n    let serviceCall = null;\n    \n    switch(event) {\n        case CONFIG.EVENTS.ON_SHORT:\n            flow.set('kitchenManualOverride', true);\n            serviceCall = {\n                domain: 'light',\n                service: 'toggle',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT }\n            };\n            utils.logEvent('Toggle light - manual override activated');\n            break;\n            \n        case CONFIG.EVENTS.DIM_UP_SHORT:\n            flow.set('kitchenManualOverride', true);\n            const newBrightUp = utils.calculateBrightnessChange(currentBrightness, true);\n            flow.set('kitchenCurrentBrightness', newBrightUp);\n            serviceCall = {\n                domain: 'light',\n                service: 'turn_on',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT },\n                service_data: { brightness: newBrightUp, transition: 1 }\n            };\n            utils.logEvent(`Brightness increased from ${currentBrightness} to ${newBrightUp}`);\n            break;\n            \n        case CONFIG.EVENTS.DIM_DOWN_SHORT:\n            flow.set('kitchenManualOverride', true);\n            const newBrightDown = utils.calculateBrightnessChange(currentBrightness, false);\n            flow.set('kitchenCurrentBrightness', newBrightDown);\n            serviceCall = {\n                domain: 'light',\n                service: 'turn_on',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT },\n                service_data: { brightness: newBrightDown, transition: 1 }\n            };\n            utils.logEvent(`Brightness decreased from ${currentBrightness} to ${newBrightDown}`);\n            break;\n            \n        case CONFIG.EVENTS.OFF_SHORT:\n            flow.set('kitchenManualOverride', true);\n            serviceCall = {\n                domain: 'light',\n                service: 'turn_off',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT },\n                service_data: { transition: 1 }\n            };\n            utils.logEvent('Light turned off - manual override activated');\n            break;\n            \n        case CONFIG.EVENTS.ON_HOLD:\n            flow.set('kitchenAutomationEnabled', false);\n            flow.set('kitchenManualOverride', true);\n            serviceCall = {\n                domain: 'light',\n                service: 'turn_on',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT },\n                service_data: { brightness: CONFIG.BRIGHTNESS.MAX, transition: 1 }\n            };\n            utils.logEvent('Automation disabled via hold gesture', 'warn');\n            break;\n            \n        case CONFIG.EVENTS.OFF_HOLD:\n            flow.set('kitchenAutomationEnabled', true);\n            flow.set('kitchenManualOverride', false);\n            serviceCall = {\n                domain: 'light',\n                service: 'turn_off',\n                target: { entity_id: CONFIG.ENTITIES.LIGHT },\n                service_data: { transition: 1 }\n            };\n            utils.logEvent('Automation enabled via hold gesture');\n            break;\n            \n        default:\n            utils.logEvent(`Unknown dimmer event: ${event}`, 'warn');\n            return null;\n    }\n    \n    if (serviceCall) {\n        msg.payload = serviceCall;\n        msg.timestamp = Date.now();\n        return msg;\n    }\n    \n    return null;\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error processing dimmer event: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error processing dimmer event: ${error.message}`);\n    }\n    return null;\n}",
        "outputs": 1,
        "x": 420,
        "y": 140,
        "wires": [["execute_command_fixed"]]
    },
    {
        "id": "execute_command_fixed",
        "type": "api-call-service",
        "z": "kitchen_fixed_tab",
        "name": "Execute Kitchen Command - Fixed",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": true,
        "domain": "{{payload.domain}}",
        "service": "{{payload.service}}",
        "areaId": [],
        "deviceId": [],
        "entityId": "{{payload.target.entity_id}}",
        "data": "{{payload.service_data}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 140,
        "wires": [["override_timer_fixed"]]
    },
    {
        "id": "override_timer_fixed",
        "type": "trigger",
        "z": "kitchen_fixed_tab",
        "name": "Manual Override Timer (45min)",
        "op1": "",
        "op2": "clear_override",
        "op1type": "nul",
        "op2type": "str",
        "duration": "45",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 140,
        "wires": [["clear_override_fixed"]]
    },
    {
        "id": "clear_override_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Clear Override - Fixed",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    const automationEnabled = flow.get('kitchenAutomationEnabled') !== false;\n    \n    if (automationEnabled) {\n        flow.set('kitchenManualOverride', false);\n        if (utils) {\n            utils.logEvent('Manual override cleared after timeout');\n        }\n    } else {\n        if (utils) {\n            utils.logEvent('Manual override timeout ignored - automation disabled');\n        }\n    }\n    \n    return null;\n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error clearing override: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error clearing override: ${error.message}`);\n    }\n    return null;\n}",
        "outputs": 1,
        "x": 1300,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "motion_sensor_fixed",
        "type": "server-state-changed",
        "z": "kitchen_fixed_tab",
        "name": "Kitchen Motion Sensor - Fixed",
        "server": "home_assistant_server",
        "version": 6,
        "outputs": 2,
        "entities": {
            "entity": ["binary_sensor.sensor_kitchen_motion"],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "x": 150,
        "y": 240,
        "wires": [["check_automation_fixed"], []]
    },
    {
        "id": "check_automation_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Check Automation State - Fixed",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    \n    if (!utils) {\n        node.error('Kitchen utilities not available');\n        return [null, msg];\n    }\n    \n    utils.validateKitchenState();\n    \n    const automationEnabled = flow.get('kitchenAutomationEnabled') !== false;\n    const manualOverride = flow.get('kitchenManualOverride') === true;\n    \n    utils.logEvent(`Motion detected - Automation: ${automationEnabled}, Override: ${manualOverride}`);\n    \n    if (automationEnabled && !manualOverride) {\n        utils.logEvent('Motion automation proceeding');\n        return [msg, null];\n    } else {\n        const reason = !automationEnabled ? 'automation disabled' : 'manual override active';\n        utils.logEvent(`Motion automation blocked: ${reason}`, 'warn');\n        return [null, msg];\n    }\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error checking automation state: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error checking automation state: ${error.message}`);\n    }\n    return [null, msg];\n}",
        "outputs": 2,
        "x": 420,
        "y": 240,
        "wires": [["time_switch_fixed"], []]
    },
    {
        "id": "time_switch_fixed",
        "type": "time-range-switch",
        "z": "kitchen_fixed_tab",
        "name": "Day/Night Switch - Fixed",
        "lat": "53.8",
        "lon": "-1.44",
        "startTime": "07:00",
        "endTime": "19:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 680,
        "y": 240,
        "wires": [["light_check_error_fixed"], ["night_brightness_fixed"]]
    },
    {
        "id": "light_check_error_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Light Level Check - Error Fixed",
        "func": "try {\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    const utils = global.get('kitchenUtils');\n    \n    if (!CONFIG || !utils) {\n        node.error('Configuration not available');\n        return [null, null];\n    }\n    \n    // Get current state of illuminance sensor\n    const illuminanceEntity = global.get('homeassistant').homeAssistant.states.get(CONFIG.ENTITIES.ILLUMINANCE_SENSOR);\n    \n    if (!illuminanceEntity) {\n        utils.logEvent(`Illuminance sensor ${CONFIG.ENTITIES.ILLUMINANCE_SENSOR} not found - proceeding with daytime brightness`, 'warn');\n        msg.current_lux = 'unavailable';\n        msg.threshold = CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX;\n        return [null, msg]; // Proceed to turn on lights if sensor unavailable\n    }\n    \n    const currentLux = parseFloat(illuminanceEntity.state);\n    \n    if (isNaN(currentLux)) {\n        utils.logEvent(`Invalid illuminance reading: ${illuminanceEntity.state} - proceeding with daytime brightness`, 'warn');\n        msg.current_lux = 'invalid';\n        msg.threshold = CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX;\n        return [null, msg]; // Proceed to turn on lights if reading invalid\n    }\n    \n    msg.current_lux = currentLux;\n    msg.threshold = CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX;\n    \n    if (currentLux >= CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX) {\n        utils.logEvent(`Motion blocked - too bright for daytime automation (${currentLux} lux ≥ ${CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX} lux threshold)`, 'info');\n        return [msg, null]; // Block - too bright\n    } else {\n        utils.logEvent(`Light level check passed - proceeding with daytime automation (${currentLux} lux < ${CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX} lux threshold)`);\n        return [null, msg]; // Proceed - dark enough\n    }\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error in light level check: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error in light level check: ${error.message}`);\n    }\n    // On error, proceed with caution - turn on lights\n    msg.current_lux = 'error';\n    msg.threshold = 25;\n    return [null, msg];\n}",
        "outputs": 2,
        "x": 920,
        "y": 200,
        "wires": [[], ["day_brightness_fixed"]]
    },
    {
        "id": "day_brightness_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Set Day Brightness - Error Fixed",
        "func": "try {\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    const utils = global.get('kitchenUtils');\n    \n    if (!CONFIG || !utils) {\n        node.error('Configuration not available');\n        return null;\n    }\n    \n    const brightness = CONFIG.BRIGHTNESS.DAY;\n    const lux = msg.current_lux || 'unknown';\n    utils.logEvent(`Setting daytime brightness: ${brightness} (current light: ${lux} lux < ${CONFIG.THRESHOLDS.LIGHT_SENSOR_LUX} lux threshold)`);\n    \n    // Store brightness in flow for tracking\n    flow.set('kitchenCurrentBrightness', brightness);\n    \n    msg.payload = {\n        domain: 'light',\n        service: 'turn_on',\n        target: { entity_id: CONFIG.ENTITIES.LIGHT },\n        service_data: { brightness: brightness, transition: 2 }\n    };\n    \n    msg.brightness_set = brightness;\n    msg.mode = 'daytime';\n    \n    return msg;\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error setting daytime brightness: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error setting daytime brightness: ${error.message}`);\n    }\n    return null;\n}",
        "outputs": 1,
        "x": 1180,
        "y": 200,
        "wires": [["day_service_error_fixed"]]
    },
    {
        "id": "day_service_error_fixed",
        "type": "api-call-service",
        "z": "kitchen_fixed_tab",
        "name": "Day Light Service - Error Fixed",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": true,
        "domain": "{{payload.domain}}",
        "service": "{{payload.service}}",
        "areaId": [],
        "deviceId": [],
        "entityId": "{{payload.target.entity_id}}",
        "data": "{{payload.service_data}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1440,
        "y": 200,
        "wires": [["auto_off_timer_fixed"]]
    },
    {
        "id": "night_brightness_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Set Night Brightness - Error Fixed",
        "func": "try {\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    const utils = global.get('kitchenUtils');\n    \n    if (!CONFIG || !utils) {\n        node.error('Configuration not available');\n        return null;\n    }\n    \n    const brightness = CONFIG.BRIGHTNESS.NIGHT;\n    utils.logEvent(`Setting nighttime brightness: ${brightness}`);\n    \n    // Store brightness in flow for tracking\n    flow.set('kitchenCurrentBrightness', brightness);\n    \n    msg.payload = {\n        domain: 'light',\n        service: 'turn_on',\n        target: { entity_id: CONFIG.ENTITIES.LIGHT },\n        service_data: { brightness: brightness, transition: 2 }\n    };\n    \n    msg.brightness_set = brightness;\n    msg.mode = 'nighttime';\n    \n    return msg;\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error setting nighttime brightness: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error setting nighttime brightness: ${error.message}`);\n    }\n    return null;\n}",
        "outputs": 1,
        "x": 900,
        "y": 280,
        "wires": [["night_service_error_fixed"]]
    },
    {
        "id": "night_service_error_fixed",
        "type": "api-call-service",
        "z": "kitchen_fixed_tab",
        "name": "Night Light Service - Error Fixed",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": true,
        "domain": "{{payload.domain}}",
        "service": "{{payload.service}}",
        "areaId": [],
        "deviceId": [],
        "entityId": "{{payload.target.entity_id}}",
        "data": "{{payload.service_data}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1140,
        "y": 280,
        "wires": [["auto_off_timer_fixed"]]
    },
    {
        "id": "auto_off_timer_fixed",
        "type": "trigger",
        "z": "kitchen_fixed_tab",
        "name": "Auto Off Timer (15min) - Fixed",
        "op1": "",
        "op2": "auto_off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "15",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1660,
        "y": 240,
        "wires": [["check_before_off_fixed"]]
    },
    {
        "id": "check_before_off_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Check Before Auto Off - Fixed",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    \n    if (!utils) {\n        node.error('Kitchen utilities not available');\n        return [null, msg];\n    }\n    \n    utils.validateKitchenState();\n    \n    const manualOverride = flow.get('kitchenManualOverride') === true;\n    const automationEnabled = flow.get('kitchenAutomationEnabled') !== false;\n    \n    utils.logEvent(`Auto-off timer triggered - Automation: ${automationEnabled}, Override: ${manualOverride}`);\n    \n    if (automationEnabled && !manualOverride) {\n        utils.logEvent('Auto-off proceeding');\n        return [msg, null];\n    } else {\n        const reason = !automationEnabled ? 'automation disabled' : 'manual override active';\n        utils.logEvent(`Auto-off cancelled: ${reason}`, 'warn');\n        return [null, msg];\n    }\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Error in auto-off check: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical error in auto-off check: ${error.message}`);\n    }\n    return [null, msg];\n}",
        "outputs": 2,
        "x": 1900,
        "y": 240,
        "wires": [["turn_off_lights_fixed"], []]
    },
    {
        "id": "turn_off_lights_fixed",
        "type": "api-call-service",
        "z": "kitchen_fixed_tab",
        "name": "Turn Off Kitchen Lights - Fixed",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": true,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": ["light.kitchen"],
        "data": "{\"transition\":2}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 2160,
        "y": 240,
        "wires": [["log_auto_off_fixed"]]
    },
    {
        "id": "log_auto_off_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Log Auto Off Complete - Fixed",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent('Kitchen lights automatically turned off');\n    } else {\n        node.log('Kitchen lights automatically turned off');\n    }\n} catch (error) {\n    node.error(`Error logging auto-off: ${error.message}`);\n}\nreturn null;",
        "outputs": 0,
        "x": 2420,
        "y": 240,
        "wires": []
    },
    {
        "id": "health_check_fixed",
        "type": "inject",
        "z": "kitchen_fixed_tab",
        "name": "Health Check (5min) - Fixed",
        "props": [{"p": "payload"}],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "health_check",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [["health_monitor_fixed"]]
    },
    {
        "id": "health_monitor_fixed",
        "type": "function",
        "z": "kitchen_fixed_tab",
        "name": "Health Monitor - Error Fixed",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    \n    if (!utils || !CONFIG) {\n        node.error('Kitchen utilities or configuration not available');\n        return null;\n    }\n    \n    // Validate current state\n    const stateValid = utils.validateKitchenState();\n    \n    if (stateValid) {\n        utils.logEvent('Health check completed - all systems normal');\n    } else {\n        utils.logEvent('Health check found issues - state corrected', 'warn');\n    }\n    \n    // Log current status\n    const automation = flow.get('kitchenAutomationEnabled') !== false;\n    const override = flow.get('kitchenManualOverride') === true;\n    const brightness = flow.get('kitchenCurrentBrightness');\n    \n    utils.logEvent(`Status - Automation: ${automation}, Override: ${override}, Brightness: ${brightness}`);\n    \n    // Validate entities exist\n    try {\n        const haStates = global.get('homeassistant')?.homeAssistant?.states;\n        if (haStates) {\n            const lightState = haStates.get(CONFIG.ENTITIES.LIGHT);\n            const motionState = haStates.get(CONFIG.ENTITIES.MOTION_SENSOR);\n            const illuminanceState = haStates.get(CONFIG.ENTITIES.ILLUMINANCE_SENSOR);\n            \n            utils.logEvent(`Entity Status - Light: ${lightState ? 'OK' : 'MISSING'}, Motion: ${motionState ? 'OK' : 'MISSING'}, Illuminance: ${illuminanceState ? 'OK' : 'MISSING'}`);\n        }\n    } catch (entityError) {\n        utils.logEvent(`Entity validation error: ${entityError.message}`, 'warn');\n    }\n    \n    return null;\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    if (utils) {\n        utils.logEvent(`Health check failed: ${error.message}`, 'error');\n    } else {\n        node.error(`Critical health check failure: ${error.message}`);\n    }\n    return null;\n}",
        "outputs": 1,
        "x": 420,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "home_assistant_server",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    }
]
