kitchen_automation_fixed_daylight.json
[
    {
        "id": "kitchen_improved_tab",
        "type": "tab",
        "label": "Kitchen Light Automation - Fixed Daylight",
        "disabled": false,
        "info": "Fixed kitchen automation with proper daylight handling"
    },
    {
        "id": "config_init",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Kitchen Config & Utilities",
        "func": "const KITCHEN_CONFIG = {\n    BRIGHTNESS: {\n        DAY: 220,\n        NIGHT: 80,\n        INCREMENT_PERCENT: 12,\n        MIN: 10,\n        MAX: 255,\n        DEFAULT: 220\n    },\n    TIMERS: {\n        AUTO_OFF_MINUTES: 15,\n        MANUAL_OVERRIDE_MINUTES: 45,\n        HEALTH_CHECK_MINUTES: 5\n    },\n    THRESHOLDS: {\n        LIGHT_SENSOR_LUX: 25\n    },\n    EVENTS: {\n        ON_SHORT: 1002,\n        DIM_UP_SHORT: 2002,\n        DIM_DOWN_SHORT: 3002,\n        OFF_SHORT: 4002,\n        ON_HOLD: 1001,\n        OFF_HOLD: 4001\n    }\n};\n\nconst validateBrightness = (brightness) => {\n    if (typeof brightness !== 'number' || brightness < KITCHEN_CONFIG.BRIGHTNESS.MIN || brightness > KITCHEN_CONFIG.BRIGHTNESS.MAX) {\n        return KITCHEN_CONFIG.BRIGHTNESS.DEFAULT;\n    }\n    return Math.round(brightness);\n};\n\nconst calculateBrightnessChange = (current, isIncrease) => {\n    const change = Math.round(current * (KITCHEN_CONFIG.BRIGHTNESS.INCREMENT_PERCENT / 100));\n    const minChange = 15;\n    const actualChange = Math.max(change, minChange);\n    \n    if (isIncrease) {\n        return Math.min(current + actualChange, KITCHEN_CONFIG.BRIGHTNESS.MAX);\n    } else {\n        return Math.max(current - actualChange, KITCHEN_CONFIG.BRIGHTNESS.MIN);\n    }\n};\n\nconst logEvent = (message, level = 'info') => {\n    const timestamp = new Date().toISOString();\n    const logMessage = `[${timestamp}] Kitchen: ${message}`;\n    \n    switch(level) {\n        case 'error': node.error(logMessage); break;\n        case 'warn': node.warn(logMessage); break;\n        default: node.log(logMessage);\n    }\n};\n\nconst validateKitchenState = () => {\n    try {\n        const brightness = flow.get('kitchenCurrentBrightness');\n        const validBrightness = validateBrightness(brightness);\n        \n        if (brightness !== validBrightness) {\n            flow.set('kitchenCurrentBrightness', validBrightness);\n            logEvent(`Brightness corrected from ${brightness} to ${validBrightness}`, 'warn');\n        }\n        \n        if (flow.get('kitchenAutomationEnabled') === undefined) {\n            flow.set('kitchenAutomationEnabled', true);\n        }\n        if (flow.get('kitchenManualOverride') === undefined) {\n            flow.set('kitchenManualOverride', false);\n        }\n        \n        return true;\n    } catch (error) {\n        logEvent(`State validation failed: ${error.message}`, 'error');\n        return false;\n    }\n};\n\nglobal.set('KITCHEN_CONFIG', KITCHEN_CONFIG);\nglobal.set('kitchenUtils', {\n    validateBrightness,\n    calculateBrightnessChange,\n    logEvent,\n    validateKitchenState\n});\n\nvalidateKitchenState();\nlogEvent('Kitchen automation initialized with fixed daylight behavior');\n\nreturn null;",
        "outputs": 0,
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "init_trigger",
        "type": "inject",
        "z": "kitchen_improved_tab",
        "name": "Initialize on Deploy",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 20,
        "wires": [["config_init"]]
    },
    {
        "id": "dimmer_events",
        "type": "server-events",
        "z": "kitchen_improved_tab",
        "name": "Kitchen Dimmer Events",
        "server": "home_assistant_server",
        "version": 3,
        "exposeAsEntityConfig": "",
        "eventType": "deconz_event",
        "waitForRunning": true,
        "outputProperties": [
            {"property": "payload", "propertyType": "msg", "value": "", "valueType": "eventData"},
            {"property": "topic", "propertyType": "msg", "value": "$outputData(\"eventData\").event_type", "valueType": "jsonata"}
        ],
        "x": 150,
        "y": 140,
        "wires": [["process_dimmer_improved"]]
    },
    {
        "id": "process_dimmer_improved",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Process Dimmer Events - Improved",
        "func": "try {\n    const CONFIG = global.get('KITCHEN_CONFIG');\n    const utils = global.get('kitchenUtils');\n    \n    if (!CONFIG || !utils) {\n        utils?.logEvent('Configuration not loaded', 'error');\n        return null;\n    }\n    \n    const event = msg.payload.event;\n    const currentBrightness = utils.validateBrightness(flow.get('kitchenCurrentBrightness') || CONFIG.BRIGHTNESS.DEFAULT);\n    \n    utils.logEvent(`Processing dimmer event: ${event}`);\n    \n    switch(event) {\n        case CONFIG.EVENTS.ON_SHORT:\n            flow.set('kitchenManualOverride', true);\n            msg.payload = { service: 'light.toggle', entity_id: 'light.kitchen' };\n            utils.logEvent('Toggle light - manual override activated');\n            break;\n            \n        case CONFIG.EVENTS.DIM_UP_SHORT:\n            flow.set('kitchenManualOverride', true);\n            const newBrightUp = utils.calculateBrightnessChange(currentBrightness, true);\n            flow.set('kitchenCurrentBrightness', newBrightUp);\n            msg.payload = {\n                service: 'light.turn_on',\n                entity_id: 'light.kitchen',\n                data: { brightness: newBrightUp, transition: 1 }\n            };\n            utils.logEvent(`Brightness increased from ${currentBrightness} to ${newBrightUp}`);\n            break;\n            \n        case CONFIG.EVENTS.DIM_DOWN_SHORT:\n            flow.set('kitchenManualOverride', true);\n            const newBrightDown = utils.calculateBrightnessChange(currentBrightness, false);\n            flow.set('kitchenCurrentBrightness', newBrightDown);\n            msg.payload = {\n                service: 'light.turn_on',\n                entity_id: 'light.kitchen',\n                data: { brightness: newBrightDown, transition: 1 }\n            };\n            utils.logEvent(`Brightness decreased from ${currentBrightness} to ${newBrightDown}`);\n            break;\n            \n        case CONFIG.EVENTS.OFF_SHORT:\n            flow.set('kitchenManualOverride', true);\n            msg.payload = {\n                service: 'light.turn_off',\n                entity_id: 'light.kitchen',\n                data: { transition: 1 }\n            };\n            utils.logEvent('Light turned off - manual override activated');\n            break;\n            \n        case CONFIG.EVENTS.ON_HOLD:\n            flow.set('kitchenAutomationEnabled', false);\n            flow.set('kitchenManualOverride', true);\n            msg.payload = {\n                service: 'light.turn_on',\n                entity_id: 'light.kitchen',\n                data: { brightness: CONFIG.BRIGHTNESS.MAX, transition: 1 }\n            };\n            utils.logEvent('Automation disabled via hold gesture', 'warn');\n            break;\n            \n        case CONFIG.EVENTS.OFF_HOLD:\n            flow.set('kitchenAutomationEnabled', true);\n            flow.set('kitchenManualOverride', false);\n            msg.payload = {\n                service: 'light.turn_off',\n                entity_id: 'light.kitchen',\n                data: { transition: 1 }\n            };\n            utils.logEvent('Automation enabled via hold gesture');\n            break;\n            \n        default:\n            utils.logEvent(`Unknown dimmer event: ${event}`, 'warn');\n            return null;\n    }\n    \n    msg.timestamp = Date.now();\n    return msg;\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    utils?.logEvent(`Error processing dimmer event: ${error.message}`, 'error');\n    return null;\n}",
        "outputs": 1,
        "x": 420,
        "y": 140,
        "wires": [["execute_command"]]
    },
    {
        "id": "execute_command",
        "type": "api-call-service",
        "z": "kitchen_improved_tab",
        "name": "Execute Kitchen Command",
        "server": "home_assistant_server",
        "version": 7,
        "debugenabled": false,
        "domain": "",
        "service": "",
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 140,
        "wires": [["override_timer"]]
    },
    {
        "id": "override_timer",
        "type": "trigger",
        "z": "kitchen_improved_tab",
        "name": "Manual Override Timer (45min)",
        "op1": "",
        "op2": "clear_override",
        "op1type": "nul",
        "op2type": "str",
        "duration": "45",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1000,
        "y": 140,
        "wires": [["clear_override_improved"]]
    },
    {
        "id": "clear_override_improved",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Clear Override - Improved",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    const automationEnabled = flow.get('kitchenAutomationEnabled') !== false;\n    \n    if (automationEnabled) {\n        flow.set('kitchenManualOverride', false);\n        utils?.logEvent('Manual override cleared after timeout');\n    } else {\n        utils?.logEvent('Manual override timeout ignored - automation disabled');\n    }\n    \n    return null;\n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    utils?.logEvent(`Error clearing override: ${error.message}`, 'error');\n    return null;\n}",
        "outputs": 1,
        "x": 1300,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "motion_sensor",
        "type": "server-state-changed",
        "z": "kitchen_improved_tab",
        "name": "Kitchen Motion Sensor",
        "server": "home_assistant_server",
        "version": 6,
        "outputs": 2,
        "entities": {
            "entity": ["binary_sensor.sensor_kitchen_motion"],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "outputOnlyOnStateChange": true,
        "for": "",
        "forType": "num",
        "x": 150,
        "y": 240,
        "wires": [["check_automation_improved"], []]
    },
    {
        "id": "check_automation_improved",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Check Automation State - Improved",
        "func": "try {\n    const utils = global.get('kitchenUtils');\n    \n    if (!utils) {\n        node.error('Kitchen utilities not available');\n        return [null, msg];\n    }\n    \n    utils.validateKitchenState();\n    \n    const automationEnabled = flow.get('kitchenAutomationEnabled') !== false;\n    const manualOverride = flow.get('kitchenManualOverride') === true;\n    \n    utils.logEvent(`Motion detected - Automation: ${automationEnabled}, Override: ${manualOverride}`);\n    \n    if (automationEnabled && !manualOverride) {\n        utils.logEvent('Motion automation proceeding');\n        return [msg, null];\n    } else {\n        const reason = !automationEnabled ? 'automation disabled' : 'manual override active';\n        utils.logEvent(`Motion automation blocked: ${reason}`, 'warn');\n        return [null, msg];\n    }\n    \n} catch (error) {\n    const utils = global.get('kitchenUtils');\n    utils?.logEvent(`Error checking automation state: ${error.message}`, 'error');\n    return [null, msg];\n}",
        "outputs": 2,
        "x": 420,
        "y": 240,
        "wires": [["time_switch"], []]
    },
    {
        "id": "time_switch",
        "type": "time-range-switch",
        "z": "kitchen_improved_tab",
        "name": "Day/Night Switch",
        "lat": "53.8",
        "lon": "-1.44",
        "startTime": "07:00",
        "endTime": "19:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 680,
        "y": 240,
        "wires": [["light_check_fixed"], ["night_brightness"]]
    },
    {
        "id": "light_check_fixed",
        "type": "api-current-state",
        "z": "kitchen_improved_tab",
        "name": "Light Level Check - Fixed",
        "server": "home_assistant_server",
        "version": 3,
        "outputs": 2,
        "halt_if": "25",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "entity_id": "sensor.sensor_kitchen_illuminance",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "current_lux", "propertyType": "msg", "value": "", "valueType": "entityState"},
            {"property": "threshold", "propertyType": "msg", "value": "25", "valueType": "num"}
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "x": 920,
        "y": 200,
        "wires": [["day_brightness_with_logging"], ["daylight_block_logging"]]
    },
    {
        "id": "daylight_block_logging",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Log Daylight Block",
        "func": "const utils = global.get('kitchenUtils');\nconst lux = msg.current_lux || 'unknown';\nutils?.logEvent(`Motion blocked - too bright for daytime automation (${lux} lux > 25 lux threshold)`, 'info');\nreturn null;",
        "outputs": 0,
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "day_brightness_with_logging",
        "type": "function",
        "z": "kitchen_improved_tab",
        "name": "Set Day Brightness - With Logging",
        "func": "try {\n    const CONFIG
